//car-content est la classe du conteneur d'affichage du panuer
.cart-content {
  .cart-content-head, .cart-content-foot {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .cart-content-body:nth-child(odd) {
    background-color: #F8F9FA;
  }

  margin: 20px auto;
}

